.container {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  border-color: #fff;
  border-style: groove;
  border-width: 2px;
}

.input {
  color: #fff;
}

.hr {
  width: 100%;
}
